/* Page by Nicole Sanchez, this file contains all my style elements */
body {
    background-color: hsl(208, 87%, 30%);
}
a {
    color: skyblue;
}
.titles {
    color: azure;
    text-align: center;
    font-family: helvetica;
}
.caption {
    color: ghostwhite;
    text-align: center;
    font-family: helvetic;
}
.description {
    Font-size: 20px;
}
#theheading {
    border-style: double;
    border-color: azure;
    border-radius: 15px;
    border-width: 25px;
}
#sweet {
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-color: azure;
    border-radius: 15px;
    border-width: 25px;
}
